body {
  height: 100vh;
  background-color: #87c8e4;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  font-family: "Chivo", sans-serif;
}

#gameweekCard,
#teamsCard,
.gw-card-container,
.team-card-container {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

#topnav {
  background-color: #3d1698;
}

.navbar-brand,
.nav-link,
h1,
#statsToggle,
.dropdown-item {
  color: whitesmoke;
}

.nav-link:hover,
.navbar-brand:hover,
.socialLinks:hover,
#statsToggle:hover,
.dropdown-item:hover {
  color: #87c8e4;
  fill: #87c8e4;
}

#player-photos {
  object-fit: contain;
}

.topPanel {
  align-items: center;
  text-align: center;
  align-content: center;
  color: whitesmoke;
  padding-top: 5px;
  background-color: #7353be;
  width: 100%;
}

.bottomPanel {
  position: relative;
  top: 0;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  background-color: #7353be;
}

.windowFont {
  font-family: "Chivo", sans-serif;
}

.sticky {
  position: fixed;
  top: 56px;
  z-index: 5;
}

.infoalert {
  justify-content: center;
  position: fixed;
  top: 94px;
  width: 100%;
  z-index: 100;
}

.gold {
  color: goldenrod;
}

.materialCard {
  max-width: 275px;
  min-width: 275px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  padding-bottom: 6px;
}

/* #totalUsersDisplay {
  display: block;
  position: fixed;
  top: 90px;
  z-index: 8;
} */

.dropdown-item {
  justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
  #infoCard {
    transform: scale(0.8);
    margin: 0px;
    font-size: 1rem;
  }
  .gw-card-container {
    padding-top: 130px;
    margin: 5px;
  }
  #player-photos {
    transform: scale(0.8);
  }
  .materialCard {
    min-width: 160px;
    max-width: 160px;
  }
  #topnav {
    font-size: 0.8rem;
  }
  .socialLinks {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  #collapsedMenu {
    visibility: hidden;
  }
  .gw-card-container {
    padding-top: 130px;
  }
}
