body {
  height: 100vh;
  background-color: #3187ab;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  font-family: "Ubuntu", sans-serif;
}

#mainContent,
#infoCard {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.gwbox {
  display: flex;
  /* outline: #3d1698 solid 2px; */
}

#topnav {
  background-color: #3d1698;
}

.navbar-brand,
.nav-link {
  color: whitesmoke;
}

.nav-link:hover,
.navbar-brand:hover,
.socials:hover {
  color: #c94cd4;
}
