body {
  height: 100vh;
  background-color: #3187ab;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  font-family: "Ubuntu", sans-serif;
}

#infoCard,
.card-container {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 500px) {
  /* #infoCard,
  .card-container {
    flex-direction: column;
    justify-content: center;
  } */
/* body {
    background-color: #3d1698;
  } */
/* } */

#topnav {
  background-color: #3d1698;
}

.navbar-brand,
.nav-link,
h1,
#statsToggle {
  color: whitesmoke;
}

.nav-link:hover,
.navbar-brand:hover,
.socials:hover {
  color: #c94cd4;
}

#player-photos {
  object-fit: contain;
}

#topPanel {
  align-items: center;
  text-align: center;
}
